.header{
    .nav-top{
        margin: 2.5rem 0 2.7rem 0;
        .nav-lang{
            margin-right: 3rem;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid var(--color-dustyrose);
        }
        .nav-logo{
            text-align: center;
            font-family: Didot;
            font-size: 3.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 4rem;
        }
        .nav-cart{
            margin-right: 3rem;
        }
    }
    .nav-bottom{
        a{
            margin-right: 7rem;
            margin-bottom: 3.5rem;
        }
    }
}
.home{
    height: auto;
    .col-md-5{
        .container-text{
            height: auto;
            margin-top: 12.4rem;
            max-width: 81rem;
            z-index: 22;
            span{
                display: inline-block;
                max-width: 40.7rem;
                margin: 4rem 0 4rem 0;
            }
            button{
                img{
                    width: 2.2rem;
                    margin-right: 2rem;
                }
            }
        }
    }
    .col-md-7{
        .container-img{
            max-height: 75.7rem;
            position: relative;
            .overlay{
                border-radius: 5px 5px 0px 0px;
                background: rgba(255, 255, 255, 0.10);
                backdrop-filter: blur(7.5px);
                display: block;
                position: absolute;
                height: 100%;
                width: 33rem;
                bottom: 0;
            }
        }
    }
    .about{
        h3{
            margin-top: 12.8rem;
        }
        margin-bottom: 14rem;
    }
    .discount{
        margin-bottom: 12.8rem;
       .discount-img{
        min-height: 36.7rem;
        width: 100%;
        background-image: url("../img/discount.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // height: 367px;
       }
        .discount-text{
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            h2{
                margin-bottom: 3.6rem;
            }
            span{
                margin-bottom: 4.2rem;
            }
            button{
                img{
                    width: 2.4rem;
                }
            }
        }

    }
    .products{
        .d-flex{
            h3{
                margin-bottom: 5.9rem;
            }
            a{
                color: var(--color-primary);
                text-decoration: underline !important;
            }
        }
    }
    .popular{
       margin-top: 8.3rem;
       margin-bottom: 12rem;
       h3{
        margin-bottom: 5.4rem;
       }
       input[type="range"]{
        accent-color: var(--color-primary);
       }
    }
    .collections{
        padding-top: 8.1rem;
        background-color: var(--color-dustyrose);
        h3{
            margin-bottom: 5.9rem;
        }
        a{
            color: var(--color-primary);
            text-decoration: underline !important;
        }
        padding-bottom: 12rem;
    }
    .contact{
        margin-top: 12.8rem;
    }
}
.about{
    .container-fluid{
        h2,h3{
            margin-bottom: 6rem;
        }
        .col-12{
            .about-text{
                
                max-width: 48.3rem;
                margin-left: 6.6rem;
            }
        }
    }
    .container{
        margin-top: 13rem;
        h2{
            color: var(--color-primary) !important;
            margin-bottom: 2.3rem;
        }
    }
}
.contact{
    h2,h3{
        margin-bottom: 6rem;
    }
    .col-12{
        .input{
            margin-bottom: 1.5rem;
        }
        form{
            margin-right: 13rem;
            .textarea{
                margin-bottom: 2rem;
            }
        }
    }
}
.account{
    .container-fluid{
        .account-box{
            border-radius: 10px;
            background: #dfd7cf;
            padding: 4rem 7rem 5.5rem 2rem;
            .account-box_image{
                width: 2.4rem;
            }
            p{
                font-family: Didot;
                font-size: 32px;
                font-weight: 700 !important;
                line-height: 32px;
                margin-bottom: 5rem;
            }
            .d-flex{
                margin-bottom: 3rem;
                &:hover{
                    cursor: pointer;
                }
                span{
                    margin-left: 1.5rem;
                }
                &:nth-child(3){
                    padding-bottom: 3rem;
                    border-bottom: 1px solid var(--color-white);
                }
            }
        }
        form{
            margin-left: 13.7rem;
            .input{
                margin-bottom: 1rem;
            }
            .primary-button{
                margin-top: 2rem;
            }
            .position-absolute{
                top: 2rem;
                right: 2rem;
            }
        }
    }
}
.checkout{
    .section-fluid{
        a:nth-child(2){
            opacity: .5;
            margin-right: 2rem;
            margin-left: 2rem;
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 1px;
                height: 1.7rem;
                background-color: var(--color-black);
                left: 19rem;
                top: 3px;
            }
        }
    }
    .container-fluid{
        h2{
            margin-bottom: 6rem;
        }
        form{
            .information{
                margin-bottom: 3rem;
            }
            .payment-method,.delivery-method{
                margin-top: 5rem !important; 
            }
            .right_form{
                margin-right: 2rem;
            }
            .input{
                margin-bottom: 1rem;
                padding-right: 4.5rem;
            }
            button{
                margin-top: 5rem;
            }
            .label{
                &:first-child{
                    margin-right: 10rem !important;
                }
                input[type="radio"]{
                    margin-right: 2rem;
                    margin-bottom: 1.8rem;
                }
            }
        }
    }
}
.login{
    .container-fluid{
        .login-col{
            padding: 3.8rem 0 0 3rem;
            .login_home{
                i{
                    color: var(--color-primary);
                    margin-right: 2rem;
                }
                span{
                    color: var(--color-primary);
                }
                margin-bottom: 19rem;
            }
            form{
                margin-right: 13.6rem;
                h3{
                    margin-bottom: 5rem;
                }
                .input{
                    margin-bottom: 1.5rem;
                }
                .position-absolute{
                    top: 2rem;
                    right: 2rem;
                }
                .forget-password{
                    display: block;
                    color: var(--color-primary);
                    font-size: 1.4rem;
                    margin-bottom: 1.7rem;
                    cursor: pointer;
                }
                button{
                    margin-bottom: 7rem;
                }
                .d-flex{
                    margin-bottom: 37.5rem;
                    span{
                        &:last-child{
                            color: var(--color-primary);
                            margin-left: 2rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .col-md-6{
            .login-img{
                background: url("../img/loginback.png") no-repeat;
                background-position: center;
                background-size: cover;
                height: 100%;
            }
        }
    }
}
.modal{
    .modal-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            text-align: center;
            font-family: Didot;
            font-size: 32px;
            font-weight: 700 !important;
            line-height: 32px;
            margin-bottom: 3.6rem;
            max-width: 35rem;
        }
        span{
            display: block;
            max-width: 34.3rem;
            margin-bottom: 3.4rem;
        }
        button{
            margin-bottom: 4.5rem;
        }
    }
}
.notfound{
    height: 50vh;
    p{
        color: #2D2D2B;
    text-align: center;
    font-family: Didot;
    font-size: 180px !important;
    font-weight: 700;
    line-height: 129px;
    }
    h3{
        color: var(--black, #2D2D2B);
        text-align: center;
        font-family: Raleway !important;
        font-weight: 500 !important;
        line-height: 42px;
    }
}
.products{
    .container-fluid{
        .d-block{
            h2{
                margin-bottom: 4.6rem;
            }
            span{
                display: inline-block;
                max-width: 66rem;
            }
            margin-bottom: 5.4rem;
            .shop-filter__select{
                button{
                    padding: 1.5rem 11rem;
                    border-radius: 10px;
                    border: 1px solid var(--color-primary);
                    background: var(--color-light);
                    color: var(--color-primary);
                    span{
                        color: var(--color-primary);
                        margin-right: 2rem;
                    }
                }
                .dropdown-toggle::after{
                    display: none;
                }
                ul{
                    padding: 1.5rem 14.7rem 1.5rem 2rem;
                    background-color: var(--color-light);
                    border-color: var(--color-primary);
                    border-radius: 0 0 1rem 1rem;
                    li{
                        a{
                        color: var(--color-primary);
                        }
                    }
                }
            }
        }
        .shop-aside__item{
            p{
                margin-bottom: 2.6rem;
                color: var(--color-primary);
            }
            label{
                margin-bottom: 2.5rem;
                input[type="checkbox"]{
                    accent-color: var(--color-primary);
                    margin-right: 2.5rem;
                }
            }
        }
        .card{
                background-color: transparent;
                .card-img{
                    min-height: 30rem;
                    object-fit: cover !important;
                }
                .card-body{
                    background-color: var(--color-light);
                }
                .card-text{
                    color: var(--color-primary);
                    font-weight: 700 !important;
                    margin-bottom: 3.5rem;
                }
                .card-title{
                    cursor: pointer;
                }
                .overlay {
                    transition: .5s ease;
                    opacity: 0;
                    position: absolute;
                    bottom: -20%;
                    left: 85%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                    .shop {
                        background-color: #FFFFFF;
                        color: black;
                        font-size: 16px;
                        padding: 10px 12px;
                        margin-bottom: 10px;
                        &:hover{
                            background-color: #9387d9;
                            color: #FFFFFF;
                        }
                        i{
                            font-size: 20px;
                        }
                      }
                }
                &:hover{
                    .overlay{
                        transition: .6s;
                        opacity: 1;
                        bottom: -10%;
                    }
                }
                .heart{
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                    background-color: var(--color-white);
                    padding: 6px;
                }
        }
    }
}
.productdetails{
    .section-fluid{
        a:nth-child(2){
            opacity: .5;
            margin-right: 2rem;
            margin-left: 2rem;
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 1px;
                height: 1.7rem;
                background-color: var(--color-black);
                left: 15.5rem;
                top: 3px;
            }
        }
    }
    .slick-prev,.slick-next{
        position: absolute;
        top: 45.5%;
        transform: translateY(-50%);
        left: -4.8rem;
        background: var(--color-light);
        border: 1px solid var(--color-border);
        height: 6rem;
        width: 4rem;
        font-size: 0;
        line-height: 0;
        &::before{
            content: "";
            display: block;
        } 
    }
    .slick-prev{
        &::after{
            content: "<";
            display: block;
            font-size: 2rem;
            line-height: 1;
            color:var(--color-grey)
        }
    }
    .slick-next{
        right: -4.8rem;
        left: auto; 
         &::after{
            content: ">";
            display: block;
            font-size: 2rem;
            line-height: 1;
        }
    }
    .slick-dots {
        display: flex !important;
        justify-content: center;
        padding-left: 0;
    }
   .slick-dots li {
        border: 2px solid #ddd;
        margin-right: .5rem;
    }
   .slick-dots li:last-child {
        margin-right: 0;
    }
}
.productdetails,.modal{
    .col-md-5{
        h3{
            // font-size: 4rem;
            line-height: 5.6rem;
            color: var(--color-black);
        }
        .product-stock{
            margin-top: 1.5rem;
            text-transform: uppercase;
            color: #12a33b;
            font-size: 1.2rem;
        }
        .product-price{
            margin-top: 3rem;
            color: var(--color-black);
            font-size: 3.2rem;
            line-height: 130%;
            text-transform: capitalize;
            display: block;
            margin-bottom: 3.1rem;
        }
        .contact-info__social{
            margin-top: 3.9rem;
            display: flex;
            align-items: center;
            span{
                font-size: 1.6rem;
                font-family: Lato,sans-serif;
                line-height: 170%;
                color: var(--color-black);
                display: block;
                margin-bottom: .8rem;
                margin-left: 0;
            }
            ul{
                display: flex;
                li{
                    margin-right: 1rem;
                    a{
                        width: 4.5rem;
                        height: 4.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: var(--color-light);
                        border: 1px solid var(--color-border);
                        &:hover{
                            background: var(--color-black);
                            border-color: var(--color-black);
                            color: var(--color-white);
                        }
                    }
                }
            }
        }
        .product-quantity{
            .product-quantity__title{
                color: var(--color-black);
            }
            .minus{
                border: none;
                border: 1px solid #ddd;
                background-color: var(--color-white);
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                height: 4rem;
                width: 4rem;
            }
            .plus{
                border: none;
                border: 1px solid #ddd;
                background-color: var(--color-white);
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                height: 4rem;
                width: 4rem;
            }
            input[type='text']{
                border: none;
                border: 1px solid #ddd;
                background-color: var(--color-white);
                height: 3.9rem;
                width: 6rem;
                text-align: center;
            }
        }
        .product-buttons{
            display: flex;
        }
    }
}
.collections{
    .container-fluid{
        span{
            display: block;
            max-width: 47rem;
            margin: 4.6rem 0 4.4rem 0
        }
        .row{
            .col-12{
                margin-bottom: 2rem;
                .collections-img{
                    position: relative;
                    .overlay{
                        border-radius: 0px 0px 10px 10px;
                        background: rgba(255, 255, 255, 0.10);
                        backdrop-filter: blur(7.5px);
                        display: block;
                        position: absolute;
                        height: 80px;
                        width: 100%;
                        bottom: 0;
                    }
                }
                .collections-title{
                    bottom: 6%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: var(--color-white);
                }
            }
        }
    }
}
.footer{
    margin-top: 15rem;
    .col-md-6{
        margin-bottom: 2rem;
        display: flex;
        justify-content: end;
        span{
            color: #717171;
            display: block;
            max-width: 22rem;
        }
        p{
            color: var(--black, #2D2D2B);
            font-family: Didot;
            font-size: 5.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 5.8rem;
        }
    }
    .footer-bottom{
        opacity: .8;
    }
}
@media screen and (max-width:991px) {
    .col-md-6{
        justify-content: start !important;
    }
}
@media screen and (max-width:767px) {
    .header .nav-bottom{
        a{
            margin-right: 3rem !important;
        }
    }
    .home{
        .container-text{
            position: relative !important;
            margin-top: 7rem !important;
            margin-bottom: 5rem !important;
            h1{
                font-size: 32px !important;
                line-height: 36px !important;
            }
            .primary-button{
                padding:1.7rem 7.8rem !important;
            }
        }
        .discount{
            h2{
                font-size: 2.4rem !important;
                line-height: 3.2rem !important;
            }
            button{
                padding: 1.7rem 7.9rem !important;
            }
        }
    }
    .about{
        .about-text{
            margin-top: 3rem !important;
        }
    }
    .contact{
        .contact-img{
            margin-top: 5rem;
        }
        form{
            margin-right: 0 !important;
        }
    }
    .login{
        .login_home{
            margin-bottom: 4rem !important;
        }
        h3{
            font-size: 2.4rem !important;
            line-height: 3.2rem !important;
        }
        .login-img{
            height: 32rem !important;
        }
        form{
            .d-flex{
                margin-bottom: 4rem !important;
            }
        }
    }
    .checkout{
        h2{
            font-size: 2.4rem !important;
            line-height: 3.2rem !important;
            margin-bottom: 0 !important;
        }
        .information{
            margin-top: 5rem;
        }
        .right_form{
            margin-right: 0 !important;
        }
    }
    .collections{
        h2{
            font-size: 2.4rem !important;
            line-height: 3.2rem !important;
        }
    }
    footer{
        p{
            font-size: 2.8rem !important;
            line-height: 3.2rem !important;
        }
    }
}
@media screen and (max-width:580px) {
    .nav-top{
        .mobile-none{
            display: none !important;
        }
        .nav-bar{
            margin-left: 2.5rem;
        }
        .d-none{
            display: flex !important;
        }
    }
   .nav-bottom{
    display: none !important;
   }
   .about{
        h2{
            font-size: 2.4rem !important;
            line-height: 3.2rem !important;
        }
        .about-text{
            margin-left: 0 !important;
        }
   }
   .contact{
        h2{
            font-size: 2.4rem !important;
            line-height: 3.2rem !important;
        }
   }
//    .discount{
//         .primary-button{
//             padding: 1.7rem 4.9rem !important;
//         }
//    }
}