.header .nav-top {
  margin: 2.5rem 0 2.7rem 0;
}
.header .nav-top .nav-lang {
  margin-right: 3rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-dustyrose);
}
.header .nav-top .nav-logo {
  text-align: center;
  font-family: Didot;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
}
.header .nav-top .nav-cart {
  margin-right: 3rem;
}
.header .nav-bottom a {
  margin-right: 7rem;
  margin-bottom: 3.5rem;
}

.home {
  height: auto;
}
.home .col-md-5 .container-text {
  height: auto;
  margin-top: 12.4rem;
  max-width: 81rem;
  z-index: 22;
}
.home .col-md-5 .container-text span {
  display: inline-block;
  max-width: 40.7rem;
  margin: 4rem 0 4rem 0;
}
.home .col-md-5 .container-text button img {
  width: 2.2rem;
  margin-right: 2rem;
}
.home .col-md-7 .container-img {
  max-height: 75.7rem;
  position: relative;
}
.home .col-md-7 .container-img .overlay {
  border-radius: 5px 5px 0px 0px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  display: block;
  position: absolute;
  height: 100%;
  width: 33rem;
  bottom: 0;
}
.home .about {
  margin-bottom: 14rem;
}
.home .about h3 {
  margin-top: 12.8rem;
}
.home .discount {
  margin-bottom: 12.8rem;
}
.home .discount .discount-img {
  min-height: 36.7rem;
  width: 100%;
  background-image: url("../img/discount.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home .discount .discount-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home .discount .discount-text h2 {
  margin-bottom: 3.6rem;
}
.home .discount .discount-text span {
  margin-bottom: 4.2rem;
}
.home .discount .discount-text button img {
  width: 2.4rem;
}
.home .products .d-flex h3 {
  margin-bottom: 5.9rem;
}
.home .products .d-flex a {
  color: var(--color-primary);
  text-decoration: underline !important;
}
.home .popular {
  margin-top: 8.3rem;
  margin-bottom: 12rem;
}
.home .popular h3 {
  margin-bottom: 5.4rem;
}
.home .popular input[type=range] {
  accent-color: var(--color-primary);
}
.home .collections {
  padding-top: 8.1rem;
  background-color: var(--color-dustyrose);
  padding-bottom: 12rem;
}
.home .collections h3 {
  margin-bottom: 5.9rem;
}
.home .collections a {
  color: var(--color-primary);
  text-decoration: underline !important;
}
.home .contact {
  margin-top: 12.8rem;
}

.about .container-fluid h2, .about .container-fluid h3 {
  margin-bottom: 6rem;
}
.about .container-fluid .col-12 .about-text {
  max-width: 48.3rem;
  margin-left: 6.6rem;
}
.about .container {
  margin-top: 13rem;
}
.about .container h2 {
  color: var(--color-primary) !important;
  margin-bottom: 2.3rem;
}

.contact h2, .contact h3 {
  margin-bottom: 6rem;
}
.contact .col-12 .input {
  margin-bottom: 1.5rem;
}
.contact .col-12 form {
  margin-right: 13rem;
}
.contact .col-12 form .textarea {
  margin-bottom: 2rem;
}

.account .container-fluid .account-box {
  border-radius: 10px;
  background: #dfd7cf;
  padding: 4rem 7rem 5.5rem 2rem;
}
.account .container-fluid .account-box .account-box_image {
  width: 2.4rem;
}
.account .container-fluid .account-box p {
  font-family: Didot;
  font-size: 32px;
  font-weight: 700 !important;
  line-height: 32px;
  margin-bottom: 5rem;
}
.account .container-fluid .account-box .d-flex {
  margin-bottom: 3rem;
}
.account .container-fluid .account-box .d-flex:hover {
  cursor: pointer;
}
.account .container-fluid .account-box .d-flex span {
  margin-left: 1.5rem;
}
.account .container-fluid .account-box .d-flex:nth-child(3) {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-white);
}
.account .container-fluid form {
  margin-left: 13.7rem;
}
.account .container-fluid form .input {
  margin-bottom: 1rem;
}
.account .container-fluid form .primary-button {
  margin-top: 2rem;
}
.account .container-fluid form .position-absolute {
  top: 2rem;
  right: 2rem;
}

.checkout .section-fluid a:nth-child(2) {
  opacity: 0.5;
  margin-right: 2rem;
  margin-left: 2rem;
}
.checkout .section-fluid a:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1.7rem;
  background-color: var(--color-black);
  left: 19rem;
  top: 3px;
}
.checkout .container-fluid h2 {
  margin-bottom: 6rem;
}
.checkout .container-fluid form .information {
  margin-bottom: 3rem;
}
.checkout .container-fluid form .payment-method, .checkout .container-fluid form .delivery-method {
  margin-top: 5rem !important;
}
.checkout .container-fluid form .right_form {
  margin-right: 2rem;
}
.checkout .container-fluid form .input {
  margin-bottom: 1rem;
  padding-right: 4.5rem;
}
.checkout .container-fluid form button {
  margin-top: 5rem;
}
.checkout .container-fluid form .label:first-child {
  margin-right: 10rem !important;
}
.checkout .container-fluid form .label input[type=radio] {
  margin-right: 2rem;
  margin-bottom: 1.8rem;
}

.login .container-fluid .login-col {
  padding: 3.8rem 0 0 3rem;
}
.login .container-fluid .login-col .login_home {
  margin-bottom: 19rem;
}
.login .container-fluid .login-col .login_home i {
  color: var(--color-primary);
  margin-right: 2rem;
}
.login .container-fluid .login-col .login_home span {
  color: var(--color-primary);
}
.login .container-fluid .login-col form {
  margin-right: 13.6rem;
}
.login .container-fluid .login-col form h3 {
  margin-bottom: 5rem;
}
.login .container-fluid .login-col form .input {
  margin-bottom: 1.5rem;
}
.login .container-fluid .login-col form .position-absolute {
  top: 2rem;
  right: 2rem;
}
.login .container-fluid .login-col form .forget-password {
  display: block;
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1.7rem;
  cursor: pointer;
}
.login .container-fluid .login-col form button {
  margin-bottom: 7rem;
}
.login .container-fluid .login-col form .d-flex {
  margin-bottom: 37.5rem;
}
.login .container-fluid .login-col form .d-flex span:last-child {
  color: var(--color-primary);
  margin-left: 2rem;
  cursor: pointer;
}
.login .container-fluid .col-md-6 .login-img {
  background: url("../img/loginback.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.modal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modal-body p {
  text-align: center;
  font-family: Didot;
  font-size: 32px;
  font-weight: 700 !important;
  line-height: 32px;
  margin-bottom: 3.6rem;
  max-width: 35rem;
}
.modal .modal-body span {
  display: block;
  max-width: 34.3rem;
  margin-bottom: 3.4rem;
}
.modal .modal-body button {
  margin-bottom: 4.5rem;
}

.notfound {
  height: 50vh;
}
.notfound p {
  color: #2D2D2B;
  text-align: center;
  font-family: Didot;
  font-size: 180px !important;
  font-weight: 700;
  line-height: 129px;
}
.notfound h3 {
  color: var(--black, #2D2D2B);
  text-align: center;
  font-family: Raleway !important;
  font-weight: 500 !important;
  line-height: 42px;
}

.products .container-fluid .d-block {
  margin-bottom: 5.4rem;
}
.products .container-fluid .d-block h2 {
  margin-bottom: 4.6rem;
}
.products .container-fluid .d-block span {
  display: inline-block;
  max-width: 66rem;
}
.products .container-fluid .d-block .shop-filter__select button {
  padding: 1.5rem 11rem;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  background: var(--color-light);
  color: var(--color-primary);
}
.products .container-fluid .d-block .shop-filter__select button span {
  color: var(--color-primary);
  margin-right: 2rem;
}
.products .container-fluid .d-block .shop-filter__select .dropdown-toggle::after {
  display: none;
}
.products .container-fluid .d-block .shop-filter__select ul {
  padding: 1.5rem 14.7rem 1.5rem 2rem;
  background-color: var(--color-light);
  border-color: var(--color-primary);
  border-radius: 0 0 1rem 1rem;
}
.products .container-fluid .d-block .shop-filter__select ul li a {
  color: var(--color-primary);
}
.products .container-fluid .shop-aside__item p {
  margin-bottom: 2.6rem;
  color: var(--color-primary);
}
.products .container-fluid .shop-aside__item label {
  margin-bottom: 2.5rem;
}
.products .container-fluid .shop-aside__item label input[type=checkbox] {
  accent-color: var(--color-primary);
  margin-right: 2.5rem;
}
.products .container-fluid .card {
  background-color: transparent;
}
.products .container-fluid .card .card-img {
  min-height: 30rem;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.products .container-fluid .card .card-body {
  background-color: var(--color-light);
}
.products .container-fluid .card .card-text {
  color: var(--color-primary);
  font-weight: 700 !important;
  margin-bottom: 3.5rem;
}
.products .container-fluid .card .card-title {
  cursor: pointer;
}
.products .container-fluid .card .overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: -20%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.products .container-fluid .card .overlay .shop {
  background-color: #FFFFFF;
  color: black;
  font-size: 16px;
  padding: 10px 12px;
  margin-bottom: 10px;
}
.products .container-fluid .card .overlay .shop:hover {
  background-color: #9387d9;
  color: #FFFFFF;
}
.products .container-fluid .card .overlay .shop i {
  font-size: 20px;
}
.products .container-fluid .card:hover .overlay {
  transition: 0.6s;
  opacity: 1;
  bottom: -10%;
}
.products .container-fluid .card .heart {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: var(--color-white);
  padding: 6px;
}

.productdetails .section-fluid a:nth-child(2) {
  opacity: 0.5;
  margin-right: 2rem;
  margin-left: 2rem;
}
.productdetails .section-fluid a:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1.7rem;
  background-color: var(--color-black);
  left: 15.5rem;
  top: 3px;
}
.productdetails .slick-prev, .productdetails .slick-next {
  position: absolute;
  top: 45.5%;
  transform: translateY(-50%);
  left: -4.8rem;
  background: var(--color-light);
  border: 1px solid var(--color-border);
  height: 6rem;
  width: 4rem;
  font-size: 0;
  line-height: 0;
}
.productdetails .slick-prev::before, .productdetails .slick-next::before {
  content: "";
  display: block;
}
.productdetails .slick-prev::after {
  content: "<";
  display: block;
  font-size: 2rem;
  line-height: 1;
  color: var(--color-grey);
}
.productdetails .slick-next {
  right: -4.8rem;
  left: auto;
}
.productdetails .slick-next::after {
  content: ">";
  display: block;
  font-size: 2rem;
  line-height: 1;
}
.productdetails .slick-dots {
  display: flex !important;
  justify-content: center;
  padding-left: 0;
}
.productdetails .slick-dots li {
  border: 2px solid #ddd;
  margin-right: 0.5rem;
}
.productdetails .slick-dots li:last-child {
  margin-right: 0;
}

.productdetails .col-md-5 h3, .modal .col-md-5 h3 {
  line-height: 5.6rem;
  color: var(--color-black);
}
.productdetails .col-md-5 .product-stock, .modal .col-md-5 .product-stock {
  margin-top: 1.5rem;
  text-transform: uppercase;
  color: #12a33b;
  font-size: 1.2rem;
}
.productdetails .col-md-5 .product-price, .modal .col-md-5 .product-price {
  margin-top: 3rem;
  color: var(--color-black);
  font-size: 3.2rem;
  line-height: 130%;
  text-transform: capitalize;
  display: block;
  margin-bottom: 3.1rem;
}
.productdetails .col-md-5 .contact-info__social, .modal .col-md-5 .contact-info__social {
  margin-top: 3.9rem;
  display: flex;
  align-items: center;
}
.productdetails .col-md-5 .contact-info__social span, .modal .col-md-5 .contact-info__social span {
  font-size: 1.6rem;
  font-family: Lato, sans-serif;
  line-height: 170%;
  color: var(--color-black);
  display: block;
  margin-bottom: 0.8rem;
  margin-left: 0;
}
.productdetails .col-md-5 .contact-info__social ul, .modal .col-md-5 .contact-info__social ul {
  display: flex;
}
.productdetails .col-md-5 .contact-info__social ul li, .modal .col-md-5 .contact-info__social ul li {
  margin-right: 1rem;
}
.productdetails .col-md-5 .contact-info__social ul li a, .modal .col-md-5 .contact-info__social ul li a {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-light);
  border: 1px solid var(--color-border);
}
.productdetails .col-md-5 .contact-info__social ul li a:hover, .modal .col-md-5 .contact-info__social ul li a:hover {
  background: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}
.productdetails .col-md-5 .product-quantity .product-quantity__title, .modal .col-md-5 .product-quantity .product-quantity__title {
  color: var(--color-black);
}
.productdetails .col-md-5 .product-quantity .minus, .modal .col-md-5 .product-quantity .minus {
  border: none;
  border: 1px solid #ddd;
  background-color: var(--color-white);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  height: 4rem;
  width: 4rem;
}
.productdetails .col-md-5 .product-quantity .plus, .modal .col-md-5 .product-quantity .plus {
  border: none;
  border: 1px solid #ddd;
  background-color: var(--color-white);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 4rem;
  width: 4rem;
}
.productdetails .col-md-5 .product-quantity input[type=text], .modal .col-md-5 .product-quantity input[type=text] {
  border: none;
  border: 1px solid #ddd;
  background-color: var(--color-white);
  height: 3.9rem;
  width: 6rem;
  text-align: center;
}
.productdetails .col-md-5 .product-buttons, .modal .col-md-5 .product-buttons {
  display: flex;
}

.collections .container-fluid span {
  display: block;
  max-width: 47rem;
  margin: 4.6rem 0 4.4rem 0;
}
.collections .container-fluid .row .col-12 {
  margin-bottom: 2rem;
}
.collections .container-fluid .row .col-12 .collections-img {
  position: relative;
}
.collections .container-fluid .row .col-12 .collections-img .overlay {
  border-radius: 0px 0px 10px 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  display: block;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}
.collections .container-fluid .row .col-12 .collections-title {
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
}

.footer {
  margin-top: 15rem;
}
.footer .col-md-6 {
  margin-bottom: 2rem;
  display: flex;
  justify-content: end;
}
.footer .col-md-6 span {
  color: #717171;
  display: block;
  max-width: 22rem;
}
.footer .col-md-6 p {
  color: var(--black, #2D2D2B);
  font-family: Didot;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.8rem;
}
.footer .footer-bottom {
  opacity: 0.8;
}

@media screen and (max-width: 991px) {
  .col-md-6 {
    justify-content: start !important;
  }
}
@media screen and (max-width: 767px) {
  .header .nav-bottom a {
    margin-right: 3rem !important;
  }
  .home .container-text {
    position: relative !important;
    margin-top: 7rem !important;
    margin-bottom: 5rem !important;
  }
  .home .container-text h1 {
    font-size: 32px !important;
    line-height: 36px !important;
  }
  .home .container-text .primary-button {
    padding: 1.7rem 7.8rem !important;
  }
  .home .discount h2 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  .home .discount button {
    padding: 1.7rem 7.9rem !important;
  }
  .about .about-text {
    margin-top: 3rem !important;
  }
  .contact .contact-img {
    margin-top: 5rem;
  }
  .contact form {
    margin-right: 0 !important;
  }
  .login .login_home {
    margin-bottom: 4rem !important;
  }
  .login h3 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  .login .login-img {
    height: 32rem !important;
  }
  .login form .d-flex {
    margin-bottom: 4rem !important;
  }
  .checkout h2 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
    margin-bottom: 0 !important;
  }
  .checkout .information {
    margin-top: 5rem;
  }
  .checkout .right_form {
    margin-right: 0 !important;
  }
  .collections h2 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  footer p {
    font-size: 2.8rem !important;
    line-height: 3.2rem !important;
  }
}
@media screen and (max-width: 580px) {
  .nav-top .mobile-none {
    display: none !important;
  }
  .nav-top .nav-bar {
    margin-left: 2.5rem;
  }
  .nav-top .d-none {
    display: flex !important;
  }
  .nav-bottom {
    display: none !important;
  }
  .about h2 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  .about .about-text {
    margin-left: 0 !important;
  }
  .contact h2 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
}/*# sourceMappingURL=style.css.map */