@charset "UTF-8";
.header .nav-top {
  margin: 2.5rem 0 2.7rem 0;
}
.header .nav-top .nav-lang {
  margin-right: 3rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--color-dustyrose);
}
.header .nav-top .nav-logo {
  text-align: center;
  font-family: Didot;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem;
}
.header .nav-top .nav-cart {
  margin-right: 3rem;
}
.header .nav-top .nav-cart .badge {
  top: 20%;
}
.header .nav-bottom a {
  margin-right: 7rem;
  margin-bottom: 3.5rem;
}

.home {
  height: auto;
}
.home .container-fluid {
  position: relative;
}
.home .container-fluid .col-md-5 .container-text {
  height: auto;
  max-width: 81rem;
  z-index: 22;
  top: 25%;
}
.home .container-fluid .col-md-5 .container-text span {
  display: inline-block;
  max-width: 40.7rem;
  margin: 4rem 0 4rem 0;
}
.home .container-fluid .col-md-5 .container-text button img {
  width: 2.2rem;
  margin-right: 2rem;
}
.home .container-fluid .col-md-7 .container-img {
  max-height: 75.7rem;
  position: relative;
}
.home .container-fluid .col-md-7 .container-img .overlay {
  border-radius: 5px 5px 0px 0px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  display: block;
  position: absolute;
  height: 100%;
  width: 33rem;
  bottom: 0;
}
.home .about {
  margin-bottom: 14rem;
}
.home .about h3 {
  margin-top: 12.8rem;
}
.home .discount {
  margin-bottom: 12.8rem;
}
.home .discount .discount-img {
  min-height: 36.7rem;
  width: 100%;
  background-image: url("../img/discount.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home .discount .discount-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home .discount .discount-text h2 {
  margin-bottom: 3.6rem;
}
.home .discount .discount-text span {
  margin-bottom: 4.2rem;
}
.home .discount .discount-text button img {
  width: 2.4rem;
}
.home .products .d-flex {
  margin-bottom: 5.9rem;
}
.home .products a {
  color: var(--color-primary);
  text-decoration: underline !important;
}
.home .popular {
  margin-top: 8.3rem;
  margin-bottom: 12rem;
}
.home .popular h3 {
  margin-bottom: 5.4rem;
}
.home .popular input[type=range] {
  accent-color: var(--color-primary);
}
.home .collections {
  padding-top: 8.1rem;
  background-color: var(--color-dustyrose);
  padding-bottom: 12rem;
}
.home .collections .d-flex {
  margin-bottom: 5.9rem;
}
.home .collections a {
  color: var(--color-primary);
  text-decoration: underline !important;
}
.home .collections .slick-next, .home .collections .slick-prev {
  bottom: -20%;
}
.home .contact {
  margin-top: 12.8rem;
}
.home .slick-prev, .home .slick-next {
  position: absolute;
  bottom: 0%;
  transform: translateY(-50%);
  color: var(--color-white);
  background-color: var(--color-primary);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  z-index: 44;
}
.home .slick-prev::before, .home .slick-next::before {
  content: "";
  display: block;
}
.home .slick-prev {
  right: 3rem;
}
.home .slick-prev::after {
  content: "←";
  display: block;
  font-size: 1.4rem;
  line-height: 1;
}
.home .slick-next {
  right: 0rem;
  left: auto;
}
.home .slick-next::after {
  content: "→";
  display: block;
  font-size: 1.4rem;
  line-height: 1;
}

.about .container-fluid h2, .about .container-fluid h3 {
  margin-bottom: 6rem;
}
.about .container-fluid .col-12 .about-text {
  max-width: 48.3rem;
  margin-left: 6.6rem;
}
.about .container {
  margin-top: 13rem;
}
.about .container h2 {
  color: var(--color-primary) !important;
  margin-bottom: 2.3rem;
}

.contact h2, .contact h3 {
  margin-bottom: 6rem;
}
.contact .col-12 .input {
  margin-bottom: 1.5rem;
}
.contact .col-12 form {
  margin-right: 13rem;
}
.contact .col-12 form .textarea {
  margin-bottom: 2rem;
}

.account .container-fluid .account-box {
  border-radius: 10px;
  background: #dfd7cf;
  padding: 4rem 7rem 5.5rem 2rem;
}
.account .container-fluid .account-box .account-box_image {
  min-width: 2.4rem;
}
.account .container-fluid .account-box p {
  font-family: Didot;
  font-size: 32px;
  font-weight: 700 !important;
  line-height: 32px;
  margin-bottom: 5rem;
}
.account .container-fluid .account-box .d-flex {
  margin-bottom: 3rem;
}
.account .container-fluid .account-box .d-flex:hover {
  cursor: pointer;
}
.account .container-fluid .account-box .d-flex span {
  margin-left: 1.5rem;
}
.account .container-fluid .account-box .d-flex:nth-child(3) {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-white);
}
.account .container-fluid form {
  margin-left: 13.7rem;
}
.account .container-fluid form .input {
  margin-bottom: 1rem;
}
.account .container-fluid form .primary-button {
  margin-top: 2rem;
}
.account .container-fluid form .position-absolute {
  top: 2rem;
  right: 2rem;
}

.checkout .section-fluid a:nth-child(2) {
  opacity: 0.5;
  margin-right: 2rem;
  margin-left: 2rem;
}
.checkout .section-fluid a:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1.7rem;
  background-color: var(--color-black);
  left: 19rem;
  top: 3px;
}
.checkout .container-fluid h2 {
  margin-bottom: 6rem;
}
.checkout .container-fluid form .information {
  margin-bottom: 3rem;
}
.checkout .container-fluid form .payment-method, .checkout .container-fluid form .delivery-method {
  margin-top: 5rem !important;
}
.checkout .container-fluid form .right_form {
  margin-right: 2rem;
}
.checkout .container-fluid form .input {
  margin-bottom: 1rem;
  padding-right: 4.5rem;
}
.checkout .container-fluid form button {
  margin-top: 5rem;
}
.checkout .container-fluid form .label:first-child {
  margin-right: 10rem !important;
}
.checkout .container-fluid form .label input[type=radio] {
  margin-right: 2rem;
  margin-bottom: 1.8rem;
}

.login .container-fluid .login-col {
  padding: 3.8rem 0 0 3rem;
}
.login .container-fluid .login-col .login_home {
  margin-bottom: 19rem;
}
.login .container-fluid .login-col .login_home i {
  color: var(--color-primary);
  margin-right: 2rem;
}
.login .container-fluid .login-col .login_home span {
  color: var(--color-primary);
}
.login .container-fluid .login-col form {
  margin-right: 13.6rem;
}
.login .container-fluid .login-col form h3 {
  margin-bottom: 5rem;
}
.login .container-fluid .login-col form .input {
  margin-bottom: 1.5rem;
}
.login .container-fluid .login-col form .position-absolute {
  top: 2rem;
  right: 2rem;
}
.login .container-fluid .login-col form .forget-password {
  display: block;
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1.7rem;
  cursor: pointer;
}
.login .container-fluid .login-col form button {
  margin-bottom: 7rem;
}
.login .container-fluid .login-col form .d-flex {
  margin-bottom: 37.5rem;
}
.login .container-fluid .login-col form .d-flex span:last-child {
  color: var(--color-primary);
  margin-left: 2rem;
  cursor: pointer;
}
.login .container-fluid .col-md-6 .login-img {
  background: url("../img/loginback.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.modal .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .modal-body p {
  text-align: center;
  font-family: Didot;
  font-size: 32px;
  font-weight: 700 !important;
  line-height: 32px;
  margin-bottom: 3.6rem;
  max-width: 35rem;
}
.modal .modal-body span {
  display: block;
  max-width: 34.3rem;
  margin-bottom: 3.4rem;
}
.modal .modal-body button {
  margin-bottom: 4.5rem;
}
.modal .modal-body .modal-content {
  background-color: var(--color-light) !important;
}

.notfound {
  height: 50vh;
}
.notfound p {
  color: #2D2D2B;
  text-align: center;
  font-family: Didot;
  font-size: 180px !important;
  font-weight: 700;
  line-height: 129px;
}
.notfound h3 {
  color: var(--black, #2D2D2B);
  text-align: center;
  font-family: Raleway !important;
  font-weight: 500 !important;
  line-height: 42px;
}

.products .container-fluid .shop-context {
  margin-bottom: 5.4rem;
}
.products .container-fluid .shop-context h2, .products .container-fluid .shop-context h3 {
  margin-bottom: 4.6rem;
}
.products .container-fluid .shop-context span {
  display: inline-block;
  max-width: 66rem;
}
.products .container-fluid .shop-context .shop-filter__select button {
  padding: 1.5rem 11rem;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  background: var(--color-light);
  color: var(--color-primary);
}
.products .container-fluid .shop-context .shop-filter__select button span {
  color: var(--color-primary);
  margin-right: 2rem;
}
.products .container-fluid .shop-context .shop-filter__select .dropdown-toggle::after {
  display: none;
}
.products .container-fluid .shop-context .shop-filter__select ul {
  padding: 1.5rem 14.7rem 1.5rem 2rem;
  background-color: var(--color-light);
  border-color: var(--color-primary);
  border-radius: 0 0 1rem 1rem;
}
.products .container-fluid .shop-context .shop-filter__select ul li a {
  color: var(--color-primary);
}
.products .container-fluid .shop-aside__item p {
  margin-bottom: 2.6rem;
  color: var(--color-primary);
  cursor: pointer;
  text-transform: uppercase;
}
.products .container-fluid .shop-aside__item label {
  margin-bottom: 2.5rem;
}
.products .container-fluid .shop-aside__item label input[type=checkbox] {
  accent-color: var(--color-primary);
  margin-right: 2.5rem;
}
.products .container-fluid .card {
  background-color: transparent;
}
.products .container-fluid .card .card-img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.products .container-fluid .card .card-body {
  background-color: var(--color-light);
}
.products .container-fluid .card .card-text {
  color: var(--color-primary);
  font-weight: 700 !important;
  margin-bottom: 3.5rem;
}
.products .container-fluid .card .card-title {
  cursor: pointer;
}
.products .container-fluid .card .overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  bottom: -20%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.products .container-fluid .card .overlay .shop {
  background-color: #FFFFFF;
  color: black;
  font-size: 16px;
  padding: 10px 12px;
  margin-bottom: 10px;
}
.products .container-fluid .card .overlay .shop:hover {
  background-color: #9387d9;
  color: #FFFFFF;
}
.products .container-fluid .card .overlay .shop i {
  font-size: 20px;
}
.products .container-fluid .card:hover .overlay {
  transition: 0.6s;
  opacity: 1;
  bottom: -10%;
}
.products .container-fluid .card .heart {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: var(--color-white);
  padding: 6px 10px;
}
.products .container-fluid .card .heart .fa-solid {
  color: var(--color-primary);
}
.products .container-fluid .card .heart .fa-regular {
  color: var(--color-primary);
}

.productdetails .section-fluid a:nth-child(2) {
  opacity: 0.5;
  margin-right: 2rem;
  margin-left: 2rem;
}
.productdetails .section-fluid a:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1.7rem;
  background-color: var(--color-black);
  left: 15.5rem;
  top: 3px;
}
.productdetails .slick-prev, .productdetails .slick-next {
  position: absolute;
  top: 45.5%;
  transform: translateY(-50%);
  left: 2rem;
  background: var(--color-primary);
  border: 1px solid var(--color-light);
  color: var(--color-white);
  height: 6rem;
  width: 4rem;
  font-size: 0;
  line-height: 0;
  z-index: 44;
}
.productdetails .slick-prev::before, .productdetails .slick-next::before {
  content: "";
  display: block;
}
.productdetails .slick-prev::after {
  content: "<";
  display: block;
  font-size: 2rem;
  line-height: 1;
}
.productdetails .slick-next {
  right: 2rem;
  left: auto;
}
.productdetails .slick-next::after {
  content: ">";
  display: block;
  font-size: 2rem;
  line-height: 1;
}
.productdetails .slick-dots {
  display: flex !important;
  justify-content: center;
  padding-left: 0;
}
.productdetails .slick-dots li {
  border: 2px solid #ddd;
  margin-right: 0.5rem;
  height: 11.3rem;
}
.productdetails .slick-dots li:last-child {
  margin-right: 0;
}
.productdetails .product_img div {
  height: 45rem !important;
  overflow: hidden;
}
.productdetails .product_img div img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.productdetails .similar {
  margin-top: 12rem;
}
.productdetails .similar h3 {
  margin-bottom: 5.9rem;
}

.cart .container-fluid h2 {
  margin-bottom: 5rem;
}
.cart .container-fluid .noproduct {
  margin-top: 10rem;
}
.cart .container-fluid .noproduct .cart-img {
  width: 12rem;
}
.cart .container-fluid .col-lg-9 .cart-item {
  border-radius: 10px;
  padding: 1rem 0;
  border: 1px solid var(--color-dustyrose);
  margin-bottom: 2rem;
}
.cart .container-fluid .col-lg-9 .cart-item .cart-item_icon {
  margin: 0 3.5rem 0 3.5rem;
}
.cart .container-fluid .col-lg-9 .cart-item .cart-item_img {
  max-width: 10rem;
}
.cart .container-fluid .col-lg-9 .cart-item span {
  display: block;
  max-width: 18.3rem;
  margin: 0 4rem 0 5rem;
}
.cart .container-fluid .col-lg-9 .cart-item .product-color {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: var(--color-primary);
}
.cart .container-fluid .col-lg-9 .cart-item .product-quantity {
  margin: 0 8rem 0 8rem;
}
.cart .container-fluid .col-lg-9 .cart-item .product-quantity input[type=button] {
  border-radius: 10px;
  color: var(--color-primary);
  background: #e5ded3;
  width: 61px;
  height: 40px;
}
.cart .container-fluid .col-lg-9 .cart-item .product-quantity input[type=text] {
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  width: 61px;
  height: 40px;
  background-color: transparent;
  text-align: center;
  margin: 0 1rem;
}
.cart .container-fluid .col-lg-9 .cart-item .product-price {
  margin-right: 3.5rem;
}
.cart .container-fluid .col-lg-3 .cart-box {
  background-color: #DFD7CF;
  padding: 3rem 3rem 2rem 3rem;
  border-radius: 1rem;
}
.cart .container-fluid .col-lg-3 .cart-box .cart-box_title {
  font-family: Didot;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 3.3rem;
}
.cart .container-fluid .col-lg-3 .cart-box .d-flex {
  margin-bottom: 2.5rem;
}
.cart .container-fluid .col-lg-3 .cart-box .d-flex:nth-child(3) {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-white);
}
.cart .container-fluid .col-lg-3 .cart-box .d-flex span {
  font-weight: 600;
}
.cart .container-fluid .col-lg-3 .cart-box button {
  padding: 1.7rem 5.4rem;
}

.wishlist .wishlist-item {
  margin-left: 13.7rem;
  margin-bottom: 2rem;
}
.wishlist .wishlist-item .wishlist-item_img {
  max-width: 21.4rem;
}
.wishlist .wishlist-item .d-flex {
  margin: 0 23.5rem 0 2rem;
}
.wishlist .wishlist-item .d-flex p {
  color: var(--color-primary);
  font-weight: 700 !important;
}
.wishlist .wishlist-item span i {
  color: var(--color-primary);
  font-size: 2.2rem;
}

.productdetails .col-md-6 p, .modal .col-md-6 p {
  font-family: Didot;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: var(--color-black);
}
.productdetails .col-md-6 .product-desc, .modal .col-md-6 .product-desc {
  opacity: 0.8;
  display: block;
  margin-bottom: 3rem;
}
.productdetails .col-md-6 .product-color, .modal .col-md-6 .product-color {
  font-weight: 600;
}
.productdetails .col-md-6 .product-color_select .color-black, .productdetails .col-md-6 .product-color_select .color-white, .productdetails .col-md-6 .product-color_select .color-pink, .productdetails .col-md-6 .product-color_select .color-blue, .modal .col-md-6 .product-color_select .color-black, .modal .col-md-6 .product-color_select .color-white, .modal .col-md-6 .product-color_select .color-pink, .modal .col-md-6 .product-color_select .color-blue {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-top: 2rem;
}
.productdetails .col-md-6 .product-color_select .color-black, .modal .col-md-6 .product-color_select .color-black {
  background-color: var(--color-black);
}
.productdetails .col-md-6 .product-color_select .color-white, .modal .col-md-6 .product-color_select .color-white {
  background-color: var(--color-white);
}
.productdetails .col-md-6 .product-color_select .color-blue, .modal .col-md-6 .product-color_select .color-blue {
  background-color: #337DA8;
}
.productdetails .col-md-6 .product-color_select .color-pink, .modal .col-md-6 .product-color_select .color-pink {
  background-color: #C67F7D;
}
.productdetails .col-md-6 .product-stock, .modal .col-md-6 .product-stock {
  margin-top: 1.5rem;
  text-transform: uppercase;
  color: #12a33b;
  font-size: 1.2rem;
}
.productdetails .col-md-6 .product-price, .modal .col-md-6 .product-price {
  margin-top: 3.6rem;
  color: var(--color-primary);
  margin-bottom: 7.1rem;
}
.productdetails .col-md-6 .product-quantity, .modal .col-md-6 .product-quantity {
  margin-top: 3.8rem;
}
.productdetails .col-md-6 .product-quantity input[type=button], .modal .col-md-6 .product-quantity input[type=button] {
  border-radius: 10px;
  color: var(--color-primary);
  background: #e5ded3;
  width: 61px;
  height: 40px;
}
.productdetails .col-md-6 .product-quantity input[type=text], .modal .col-md-6 .product-quantity input[type=text] {
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  width: 61px;
  height: 40px;
  background-color: transparent;
  text-align: center;
  margin: 0 1rem;
  color: var(--color-primary);
}
.productdetails .col-md-6 .primary-button img, .productdetails .col-md-6 .outline-button img, .modal .col-md-6 .primary-button img, .modal .col-md-6 .outline-button img {
  width: 2.2rem;
  margin-right: 2rem;
}
.productdetails .col-md-6 .primary-button, .modal .col-md-6 .primary-button {
  padding: 1.7rem 6.4rem;
}
.productdetails .col-md-6 .outline-button, .modal .col-md-6 .outline-button {
  padding: 1.7rem 5rem !important;
  margin-left: 2rem;
}
.productdetails .col-md-6 .modal-title, .modal .col-md-6 .modal-title {
  line-height: 3.2rem;
}

.collections .container-fluid span {
  display: block;
  max-width: 47rem;
  margin: 4.6rem 0 4.4rem 0;
}
.collections .container-fluid .row .col-12 {
  margin-bottom: 2rem;
}
.collections .container-fluid .row .col-12 .collections-img {
  position: relative;
}
.collections .container-fluid .row .col-12 .collections-img .overlay {
  border-radius: 0px 0px 10px 10px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  display: block;
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}
.collections .container-fluid .row .col-12 .collections-title {
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  cursor: pointer;
}

.collectiondetails .section-fluid a:nth-child(2) {
  opacity: 0.5;
  margin-right: 2rem;
  margin-left: 2rem;
}
.collectiondetails .section-fluid a:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 1.7rem;
  background-color: var(--color-black);
  left: 17rem;
  top: 3px;
}

.footer {
  margin-top: 15rem;
}
.footer .col-md-6 {
  margin-bottom: 2rem;
  display: flex;
  justify-content: end;
}
.footer .col-md-6 span {
  color: #717171;
  display: block;
  max-width: 22rem;
}
.footer .col-md-6 p {
  color: var(--black, #2D2D2B);
  font-family: Didot;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.8rem;
}
.footer .footer-bottom {
  opacity: 0.8;
}

@media screen and (max-width: 1150px) {
  .home .container-text {
    top: 15% !important;
  }
  .cart .product-quantity {
    margin: 0 3.5rem 0 3.5rem !important;
  }
  .cart .cart-item_icon {
    margin: 0 1.5rem 0 1.5rem !important;
  }
  .cart button {
    padding: 1.7rem 4.4rem !important;
  }
  .wishlist .wishlist-item .d-flex {
    margin: 0 13.5rem 0 2rem;
  }
}
@media screen and (max-width: 991px) {
  .home h1 {
    font-size: 5.2rem !important;
    line-height: 5.6rem !important;
  }
  .home .container-text {
    top: 10% !important;
  }
  .col-md-6 {
    justify-content: start !important;
  }
  .account form {
    margin-left: 3.7rem !important;
  }
  .cart .cart-item {
    margin-bottom: 4rem;
  }
  .cart .cart-item span {
    margin: 0 2rem 0 3rem !important;
  }
  .wishlist .wishlist-item {
    margin-left: 3.7rem;
  }
  .wishlist .wishlist-item .d-flex {
    margin: 0 4.5rem 0 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header .nav-bottom a {
    margin-right: 3rem !important;
  }
  .home .container-text {
    position: relative !important;
    margin-bottom: 5rem !important;
  }
  .home .container-text h1 {
    font-size: 32px !important;
    line-height: 36px !important;
  }
  .home .container-text .primary-button {
    padding: 1.7rem 7.8rem !important;
  }
  .home .container-img {
    margin-top: 5rem !important;
  }
  .home .about h3, .home .products h3, .home .collections h3, .home .contact h3 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  .home .discount h2 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  .home .discount button {
    padding: 1.7rem 7.9rem !important;
  }
  .about h2, .about h3, .contact h2, .contact h3, .products h2, .products h3, .login h2, .login h3, .checkout h2, .checkout h3,
  .collections h2,
  .collections h3, .cart h2, .cart h3 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  .about .about-text {
    margin-top: 3rem !important;
  }
  .contact .contact-img {
    margin-top: 5rem;
  }
  .contact form {
    margin-right: 0 !important;
  }
  .products h2 {
    margin-bottom: 3rem !important;
  }
  .products .select {
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    justify-content: space-between;
  }
  .products .select .d-block {
    margin-bottom: 0 !important;
  }
  .products .select .d-block i {
    color: var(--color-primary);
    font-size: 2.2rem;
  }
  .products .shop-context {
    margin-bottom: 0 !important;
  }
  .products .shop-context .shop-filter {
    margin-top: 3rem;
    justify-content: start !important;
  }
  .products .shop-context .shop-filter button {
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1.5rem 2rem !important;
  }
  .products .shop-context .shop-filter button span {
    margin-left: 19rem;
    margin-right: 0 !important;
  }
  .login .login_home {
    margin-bottom: 4rem !important;
  }
  .login .login-img {
    height: 32rem !important;
  }
  .login form .d-flex {
    margin-bottom: 4rem !important;
  }
  .checkout h2 {
    margin-bottom: 0 !important;
  }
  .checkout .information {
    margin-top: 5rem;
  }
  .checkout .right_form {
    margin-right: 0 !important;
  }
  .account form {
    margin-left: 0 !important;
    margin-top: 4rem;
  }
  .cart .cart-item {
    flex-direction: column;
  }
  .cart .cart-item .cart-item_img {
    min-width: 25rem !important;
    margin-bottom: 2rem !important;
  }
  .cart .cart-item .cart-item_icon {
    margin: 1.5rem 0 !important;
  }
  .cart .cart-item .product-quantity {
    margin: 2.4rem 1.5rem 3rem 1.5rem !important;
  }
  .wishlist .wishlist-item {
    margin-left: 0 !important;
    margin-top: 5rem !important;
  }
  footer p {
    font-size: 2.8rem !important;
    line-height: 3.2rem !important;
  }
}
@media screen and (max-width: 580px) {
  .nav-top .mobile-none {
    display: none !important;
  }
  .nav-top .nav-bar {
    margin-left: 2.5rem;
  }
  .nav-top .d-none {
    display: flex !important;
  }
  .nav-bottom {
    display: none !important;
  }
  .about .about-text {
    margin-left: 0 !important;
  }
  .contact h2 {
    font-size: 2.4rem !important;
    line-height: 3.2rem !important;
  }
  .account .account-box p {
    font-size: 2.4rem !important;
  }
  .cart .cart-item_img {
    margin: 0 2rem 0 2rem;
  }
  .cart .product-quantity {
    margin: 0 1.5rem 0 1.5rem !important;
  }
  .wishlist .wishlist-item {
    flex-direction: column;
    position: relative;
  }
  .wishlist .wishlist-item .d-flex {
    margin-left: 0 !important;
  }
  .wishlist .wishlist-item .d-flex span {
    margin: 2.2rem 0 1.5rem 0;
  }
  .wishlist .wishlist-item .wishlist-heart {
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: var(--color-white);
    padding: 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */